/Taller1_FabricaCompu/nbproject/private/
/Taller1_FabricaCompu/build/
/JavaApplication1/nbproject/private/
/Frutas/nbproject/private/
/Frutas/build/
/Ropa/nbproject/private/
/Ropa/build/
/Punto33_NotaDefinitiva/nbproject/private/
/Punto33_NotaDefinitiva/build/